{{>partial_header}}
package {{packageName}}

// ImplResponse defines an implementation response with error code and the associated body
type ImplResponse[T any] struct {
	Code int
	{{#addResponseHeaders}}
	Headers map[string][]string
	{{/addResponseHeaders}}
	Body T
}
